{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 2 versions",
            "safari >= 9"
          ],
          "node": "6.10"
        }
      }
    ]
  ],
  "retainLines": true,
  "sourceMaps": true,
  "plugins": [
    [
      "transform-runtime"
    ]
  ]
}