{
  "extends": [
    "airbnb-base",
    "prettier"
  ],
  "plugins": [
    "prettier"
  ],
  "env": {
    "shared-node-browser": true,
    "jest": true
  },
  "globals": {
    "window": true,
    "__webpack_require__": true
  },
  "rules": {
    "strict": "off",
    "curly": "error",
    "no-underscore-dangle": "off",
    "no-bitwise": "off",
    "no-await-in-loop": "warn",
    "no-param-reassign": "warn",
    "no-loop-func": "warn",
    "prefer-arrow-callback": "warn",
    "prefer-destructuring": "warn",
    "prefer-const": "warn",
    "no-restricted-syntax": "warn",
    "class-methods-use-this": "off",
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "semi": false,
        "trailingComma": "all"
      }
    ]
  }
}
